
CC       = cc -DPARCH_solaris
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = true
SHELL    = /bin/sh
CLINKER  = cc $(COPTFLAGS)
FLINKER  = f77 $(FOPTFLAGS)
CONF     = -DHAVE_STROPTS_H -DHAVE_SEARCH_H -DHAVE_PWD_H -DHAVE_STRING_H \
           -DHAVE_MALLOC_H -DHAVE_STDLIB_H -DHAVE_X11 \
           -DHAVE_FORTRAN_UNDERSCORE -DHAVE_DRAND48 \
           -DUSES_V_V_CNST_V_CNST_V_TSEARCH  -DHAVE_UNISTD_H

SYS_LIB  = -lnsl -lsocket -lgen

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(LIBNAME)($(OBJSF))

 
#############

.F.o: 
	$(FC) -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
.F.a: 
	$(FC) -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o

