
CC       = gcc  -DPARCH_freebsd
FC       = f77
AR       = ar
RM       = rm -f *.c.*
#
#  We've found that we have to use gnumake on FreeBSD since
# the native make is non-standard. On your machine gmake may 
# be named gnumake.
#
OMAKE    = gmake  --no-print-directory
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(COPTFLAGS)
FLINKER  = f77 $(FOPTFLAGS)
CONF     = -DHAVE_PWD_H -DHAVE_STDLIB_H -DHAVE_STRING_H \
           -DHAVE_SWAPPED_BYTES -DHAVE_X11 -DHAVE_FORTRAN_UNDERSCORE \
           -DHAVE_DRAND48  -DHAVE_GETDOMAINNAME \
           -DHAVE_FORTRAN_UNDERSCORE_UNDERSCORE -DHAVE_UNISTD_H  \
           -DHAVE_UNAME -DHAVE_SYS_TIME_H
SYS_LIB  = 

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(LIBNAME)($(OBJSF))

#############
.F.o:
	$(RM) $*.f
	-cpp $(CPPFLAGS)  $*.F > $*.f 
	-$(FC) -c $(FFLAGS) $(FOPTFLAGS) $*.f
	$(RM) $*.f

.F.a: 
	$(RM) $*.f
	-cpp $(CPPFLAGS) $*.F  > $*.f
	-$(FC) -c $(FFLAGS) $(FOPTFLAGS) $*.f
	$(RM) $*.f
	$(AR) cr $(LIBNAME) $*.o
	$(RM) -f $*.o


# SHARED LIBRARIES
# To create PETSc libraires as shared libraries do the following:
# 1. modify base, base.g_c++, base.O_c++, base.g_complex base.O_complex 
# and add "-fPIC" flag for "gcc", "g++" as in where CC is defined.
# CC       = gcc  -DPARCH_freebsd -fPIC
#
# 2. Add the following target to "base"
#shared: chkopts
#	-@echo making shared libraries in $(LDIR) ;\
#	cd $(LDIR); \
#	for LIBNAME in $(SHLIBS) ; \
#	  do $(LD) -Bshareable -Bforcearchive -o $$LIBNAME.so.1.0 $$LIBNAME.a  > /dev/null 2>&1; \
#	done
#
#3. To make shared libs do in PETSC_DIR:
#   make BOPT=g all fortran shared
#   If the regular libraries are already built, you have to rebuilt them.
#
#4. To build an example uisng petsc shared library do:
#   cd petsc/src/sles/tutorials
#   make BOPT=g ex5
#
#6. To run this example do:
#   setenv LD_LIBRARY_PATH /*****/petsc/lib/libg/freebsd
#   mpirun ex5
#
