# $Id: base,v 1.33 1998/04/23 23:14:11 balay Exp balay $ 

PARCH    = t3d
CC       = cc -h jump
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = ${CC} -V
#
FC       = cf77 -dp
AR       = ar
RM       = rm
RANLIB   = true
OMAKE    = make
SHELL    = /bin/sh
CLINKER  = ${CC} ${COPTFLAGS}
FLINKER  = ${FC} ${FOPTFLAGS} -M7207
SYS_LIB  =
SHELL    = /bin/sh
FCONF    = -DHAVE_64BITS 

include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
	@-true

#########
.F.f:
	-${RM} /tmp/$*.f
	-${CC} -E ${CPPFLAGS} ${FFLAGS} ${FCONF} $*.F | sed -e 's/^#line/#/g'  > /tmp/$*.f
.F.o:
	-${RM} /tmp/$*.f
	-${CC} -E ${CPPFLAGS} ${FFLAGS} ${FCONF} $*.F | sed -e 's/^#line/#/g'  > /tmp/$*.f
	-${FC} -c ${FOPTFLAGS} /tmp/$*.f
	-${RM} /tmp/$*.f

.F.a:
	-${RM} /tmp/$*.f
	-${CC} -E ${CPPFLAGS} ${FFLAGS} ${FCONF} $*.F | sed -e 's/^#line/#/g'  > /tmp/$*.f
	-${FC} -c ${FOPTFLAGS} /tmp/$*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} /tmp/$*.f

shared:
