# $Id: rules,v 1.2 2001/08/22 17:58:22 balay Exp $ 

libc: ${OBJSC}
	${AR} ${AR_FLAGS} ${LIBNAME} ${OBJSC}
libf: ${OBJSF}
	${AR} ${AR_FLAGS} ${LIBNAME} ${OBJSF}

#############
shared:

shared_arch:

oshared:
