# $Id: base,v 1.1 1999/04/02 22:05:50 balay Exp balay $ 
#
include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables
include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
#########

# This F.f rule ensures that the old *.f files are removed.
#
.F.f:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > $*.f
	-${RM} __$*.c

.F.o:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > $*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} $*.f
	-${RM} $*.f __$*.c

.F.a:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > $*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} $*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.f __$*.c

shared:
