# $Id: rules,v 1.5 2001/08/22 17:57:34 balay Exp $ 

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} LIBNAME=${LIBNAME} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
#########

# This F.f rule ensures that the old *.f files are removed.
#
.F.f:
	-${RM} __$*.f __$*.c
	-${CP} $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > __$*.f
	-${RM} __$*.c

.F.o:
	-${RM} __$*.f __$*.c
	-${CP} $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > __$*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} __$*.f -o $*.o
	-${RM} __$*.f __$*.c

.F.a:
	-${RM} __$*.f __$*.c
	-${CP} $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > __$*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} __$*.f -o $*.o
	-${AR} cr ${LIBNAME} $*.o
	-${RM} __$*.f __$*.c

shared_arch:

oshared:
