include MANIFEST.in
include *.py *.cfg *.txt

recursive-include demo *.txt *.tex *.py *.h *.c *.f90 makefile*
recursive-include docs *.rst *.txt *.py *.conf
recursive-include conf *.py *.cfg
recursive-include src  *.py *.pyx *.px[di] *.h *.c *.cpp *.i *.cfg
recursive-include test *.py *.txt

include                [M,m]akefile
recursive-include demo [M,m]akefile
recursive-include docs [M,m]akefile
recursive-include src  [M,m]akefile
recursive-include test [M,m]akefile
