# $Id: base,v 1.19 1998/09/25 21:39:14 balay Exp balay $ 

PARCH    = solaris
CC       = /home/alice/software/egcs/solaris/bin/gcc -fPIC
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then leave this blank.
#
CCV      = ${CC} --version
#
FC       = /home/alice/software/egcs/solaris/bin/g77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = /home/alice/software/egcs/solaris/bin/gcc ${COPTFLAGS} -Wl,-R,${LDIR}:${DYLIBPATH}
FLINKER  = /home/alice/software/egcs/solaris/bin/g77 ${FOPTFLAGS} -Wl,-R,${LDIR}:${DYLIBPATH}



SYS_LIB  = -lnsl -lsocket -lc

include ${PETSC_DIR}/bmake/common

libc: ${LIBNAME}(${OBJSC})
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#############
shared: chkopts_basic
	-@ if [ "${BOPT}" != "Opg" ] && [ "${BOPT}" != "Opg_c++" ] \
	&&  [ "${BOPT}" != "Opg_complex" ] ; then \
	echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	${RM} -rf tmp; \
	mkdir tmp; \
	cd tmp; \
	for LIBNAME in ${SHLIBS} ; \
	do \
	  flag=""; \
	  if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	  else \
	      flag="true"; \
	  fi; \
          if [ "$$flag" != "" ]; then \
	    echo "building $$LIBNAME.${SLSUFFIX}"; \
	    ${AR} x ../$$LIBNAME.a ;\
	    ${LD} -G  -h $$LIBNAME.${SLSUFFIX} *.o  -o ../$$LIBNAME.${SLSUFFIX} ; \
	    ${RM} -f * ; \
	  fi; \
	done ;\
	cd ../ ; \
	${RM} -rf tmp; \
	fi
