# $Id: base,v 1.1 2000/06/19 17:17:40 balay Exp balay $ 
#
include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables
include ${PETSC_DIR}/bmake/common

libc: ${LIBNAME}(${OBJSC})
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#############

shared: 
oshared: