# $Id: base,v 1.4 1999/01/25 22:05:48 bsmith Exp balay $ 

include ${PETSC_DIR}/bmake/common
include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables

libc: ${OBJSC}
	ar crl ${LIBNAME} ${OBJSC}
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#######
shared: chkopts_basic
	-@echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	for LIBNAME in ${SHLIBS} ; \
	do \
          if [ -f ${LDIR}/$$LIBNAME.a ]; then \
	    flag=""; \
	    if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	    else \
	      flag="true"; \
	    fi; \
            if [ "$$flag" != "" ]; then \
	      echo "building $$LIBNAME.${SLSUFFIX}"; \
	      ${LD} -shared  -all  $$LIBNAME.a  -o $$LIBNAME.${SLSUFFIX}  > /dev/null 2>&1; \
	    fi; \
	  fi; \
	done
