
CC       = cc -DPARCH_solaris -KPIC
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = true
SHELL    = /bin/sh
CLINKER  = cc $(COPTFLAGS) -R$(LDIR):$(DYLIBPATH)
FLINKER  = f77 $(FOPTFLAGS) -R$(LDIR):$(DYLIBPATH)
CONF     = -DHAVE_STROPTS_H -DHAVE_SEARCH_H -DHAVE_PWD_H -DHAVE_STRING_H \
           -DHAVE_MALLOC_H -DHAVE_STDLIB_H -DHAVE_X11 \
           -DHAVE_FORTRAN_UNDERSCORE -DHAVE_DRAND48 \
           -DHAVE_UNISTD_H \
           -DHAVE_SYS_TIME_H -DHAVE_SYS_SYSTEMINFO_H -DHAVE_SYSINFO

SYS_LIB  = -lnsl -lsocket -lgen

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(LIBNAME)($(OBJSF))

 
#############

.F.o: 
	$(FC) -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
.F.a: 
	$(FC) -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o

shared: chkopts
	-@echo making shared libraries in $(LDIR) ;\
	cd $(LDIR); \
	$(RM) -rf tmp; \
	mkdir tmp; \
	cd tmp; \
	for LIBNAME in $(SHLIBS) ; \
	  do \
	    $(AR) x ../$$LIBNAME.a ;\
	    $(LD) -G  -h $$LIBNAME.$(SLSUFFIX) *.o  -o ../$$LIBNAME.$(SLSUFFIX) ; \
	    $(RM) -f * ; \
	done ;\
	cd ../ ; \
	$(RM) -rf tmp
