body {
  background-color: rgb(213, 234, 255);
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  font-size: 14px;
}

li {
  line-height: 1.5;
}

/* header "table" layout */
#header {
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
}
#header > #logo {
  display: table-cell;
  vertical-align: middle;
}
#header > #logo > img {
  max-width: 572px;
  min-width: 260px;
  display: table-cell;
}
#header > #title {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}
#header > #title > h1 {
  margin: 0;
  padding: 1ex;
  float: right;
  text-align: right;
  line-height: 2;
  font-size: 18px;
}


#sidebar {
  float:left;
  width: 260px;
}

#main {
  padding-bottom: 10px;
  padding-left: 270px; /* use #sidebar.width + extra padding */
}

#sidebar li, #footer li {
  font-weight: bold;
}

.version, .date, .current, .warning {
  color: red;
}

.warning {
  font-size: large;
  font-weight: bold;
}

/* the clear:both makes the hr clear the floating divs */
hr {
  clear: both;
  background-color: #ff5b5b;
  height: 4px;
  border: 0;
}

#footer ul {
  float: left;
  padding: 0;
}

/* this makes the list horizontal */
#footer li {
  display: inline;
  padding-right: 20px;
}

#searchbox {
  clear: both;
}

.devs td {
  width: 10em;
  padding: .2em;
  text-align: center;
  font-weight: bold;
}

.devs img {
  width: 75px;
}

#mail {
  margin-left: 1em;
}

#mail td:nth-child(2) {
  width: 13em;
  font-weight: bold;
}

#modified {
  font-size: 1em;
  float: right;
}
