body {
  background-color: rgb(213, 234, 255);
}

#sidebar {
  float:left;
  width: 260px;
}

#logo img {
  float:left;
}

#logo h1 {
  font-size: 36pt;
  color: red;
  margin: 0;
}

/* putting #main here since they both have identical styles */
#header, #main {
  padding-bottom: 10px;
  padding-left: 270px; /* use #sidebar.width + extra padding */
}

/* make all "a" tags float to the right */
#header > a {
  float: right;
  margin-right: 15%;
}

/* except for the first first "a" tag, make this one float left */
#header > a:first-child {
  float: left;
  margin-left: 15%;
}

/* all img tags under the "header" div */
#header img {
  width: 134px;
  height: 104px;
}

#header h1 {
  clear: both;
  padding-top: 5pt;
  margin: 0;
}

#sidebar li, #footer li {
  font-weight: bold;
}

.version, .date, .current, .warning {
  color: red;
}

.warning {
  font-size: large;
  font-weight: bold;
}

/* the clear:both makes the hr clear the floating divs */
hr {
  clear: both;
  background-color: #ff5b5b;
  height: 4px;
  border: 0;
}

#footer ul {
  float: left;
  padding: 0;
}

/* this makes the list horizontal */
#footer li {
  display: inline;
  padding-right: 20px;
}

#searchbox {
  clear: both;
}

.devs td {
  width: 10em;
  padding: .2em;
  text-align: center;
  font-weight: bold;
}

.devs img {
  width: 75px;
}

#mail {
  margin-left: 1em;
}

#mail td:nth-child(2) {
  width: 13em;
  font-weight: bold;
}

#modified {
  font-size: 1em;
  float: right;
}
