/*
   A simple wrapper to change the colors of the generic .. admonition:: directive via the
   :class: option. Use-case may be:

.. admonition:: My Title
   :class: yellow

   my very important text

   Absolutely __zero__ clue if this is in any way portable, but it works locally. Can add
   more colors this way as well.
*/

div.yellow {
    border: 1px solid #e1c13f;
}

div.yellow > p.admonition-title {
    background-color: #e1c13f;
    border: 1px solid #e1c13f;
}

div.examplebox {
    border-style: dashed groove none dotted;
    border-width: 5px;
    border-color: #e195a2;
}

div.examplebox > p.admonition-title {
    background-color: #e195a2;
    border: 5px ridge #e195a2;
}
