/*
  Pandas dataframe css

  Shamelessly stolen from scikit-learn:
  https://github.com/scikit-learn/scikit-learn/blob/master/doc/themes/scikit-learn-modern/static/css/theme.css
*/

table.dataframe {
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}
table.dataframe thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
table.dataframe tr,
table.dataframe th,
table.dataframe td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
table.dataframe th {
  font-weight: bold;
}
table.dataframe tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
table.dataframe tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}

.petsc-team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.petsc-team-container > div {
  width: 100px;
  margin: 5px;
  font-size: 0.9rem;
}
