#thumbwrap {
        position:relative;
	width:252px; height:10px;
}
.thumb img { 
	border:1px solid #000;
	margin:3px;
	float:left;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
}
.thumb:hover, .thumb:hover span { 
	visibility:visible;
	top:0; left:600px; 
	width:900px; height:900px;
	z-index:1;
}

.clearfix {
  clear: left;
}
