# $Id: rules,v 1.1 2001/08/25 17:25:37 balay Exp $ 

libc: ${LIBNAME}(${OBJSC})
libf: ${OBJSF}
	${AR} ${AR_FLAGS} ${LIBNAME} ${OBJSF}

#############
shared_arch: shared_linux_intel

include ${PETSC_DIR}/bmake/common/rules.fortran.cpp
