CC       = gcc  -DPARCH_linux -fPIC
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make  --no-print-directory
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(COPTFLAGS) -Wl,-rpath,$(LDIR):$(DYLIBPATH)
FLINKER  = f77 $(FOPTFLAGS) -Wl,-rpath,$(LDIR):$(DYLIBPATH)
CONF     = -DHAVE_PWD_H -DHAVE_MALLOC_H -DHAVE_STRING_H -DHAVE_X11 \
           -DHAVE_FORTRAN_UNDERSCORE  -DHAVE_GETDOMAINNAME \
           -DHAVE_FORTRAN_UNDERSCORE_UNDERSCORE  -DHAVE_DRAND48 \
           -DHAVE_UNAME -DHAVE_UNISTD_H -DHAVE_SYS_TIME_H -DHAVE_SWAPPED_BYTES 

SYS_LIB  = -lc

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(OBJSF)
	ar crl $(LIBNAME) $(OBJSF)

#############

#
#  We ignore error messages from FC since they seem to be bogus
#
.F.o:
	$(RM) $*.f $*.c
	cp $*.F $*.c
	$(CC) -E  $(CFLAGS) $*.c  > $*.f
	-$(FC) -c $(FFLAGS) $(FOPTFLAGS) $*.f
	$(RM) $*.f $*.c

SLSUFFIX = so.1.0
shared: chkopts_basic
	-@echo making shared libraries in $(LDIR) ;\
	cd $(LDIR); \
	for LIBNAME in $(SHLIBS) ; \
	  do $(CLINKER) -shared -Wl,-soname,$$LIBNAME.$(SLSUFFIX),--whole-archive -o $$LIBNAME.$(SLSUFFIX) $$LIBNAME.a ; \
	done
