
CC       = gcc  -DPARCH_linux
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make  --no-print-directory
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(COPTFLAGS)
FLINKER  = f77 $(FOPTFLAGS)
CONF     = -DHAVE_PWD_H -DHAVE_MALLOC_H -DHAVE_STRING_H -DHAVE_X11 \
           -DHAVE_FORTRAN_UNDERSCORE  -DHAVE_GETDOMAINNAME \
           -DHAVE_FORTRAN_UNDERSCORE_UNDERSCORE

SYS_LIB  = -lc

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(OBJSF)
	ar crl $(LIBNAME) $(OBJSF)

#############

#
#  We ignore error messages from FC since they seem to be bogus
#
.F.o:
	$(RM) $*.f $*.c
	cp $*.F $*.c
	$(CC) -E  $(CFLAGS) $*.c  > $*.f
	-$(FC) -c $(FFLAGS) $(FOPTFLAGS) $*.f
	$(RM) $*.f $*.c



