# $Id: base,v 1.26 1998/04/07 16:15:24 balay Exp balay $ 

PARCH    = linux
CC       = gcc  -DPARCH_linux -fPIC
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then leave this blank.
#
CCV      = ${CC} --version
#
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make  --no-print-directory
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc ${COPTFLAGS} -Wl,-rpath,${LDIR}:${DYLIBPATH}
FLINKER  = f77 ${FOPTFLAGS} -Wl,-rpath,${LDIR}:${DYLIBPATH}

FCONF    = -DHAVE_FORTRAN_UNDERSCORE -DHAVE_FORTRAN_UNDERSCORE_UNDERSCORE
CONF     = -DHAVE_PWD_H -DHAVE_MALLOC_H -DHAVE_STRING_H -DHAVE_X11 \
           -DHAVE_GETDOMAINNAME \
           -DHAVE_DRAND48 ${FCONF}\
           -DHAVE_UNAME -DHAVE_UNISTD_H -DHAVE_SYS_TIME_H -DHAVE_SWAPPED_BYTES 

SYS_LIB  = -lc

include ${PETSC_DIR}/bmake/common

libc: ${LIBNAME}(${OBJSC})
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#############

#
#  We ignore error messages from FC since they seem to be bogus
#
.F.f:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} -E  ${CFLAGS} __$*.c  > $*.f
	-${RM}  __$*.c

.F.o:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} -E  ${CFLAGS} __$*.c  > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${RM} $*.f __$*.c

.F.a:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} -E  ${CFLAGS} __$*.c  > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.f __$*.c

SLSUFFIX = so.1.0
shared: chkopts_basic
	-@echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	${RM} -rf tmp; \
	mkdir tmp; \
	cd tmp; \
	for LIBNAME in ${SHLIBS} ; \
	do \
	  flag=""; \
	  if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	  else \
	      flag="true"; \
	  fi; \
          if [ "$$flag" != "" ]; then \
	    echo "building $$LIBNAME.${SLSUFFIX}"; \
	    ${AR} x ../$$LIBNAME.a ;\
	    ${CLINKER} -shared -Wl,-soname,$$LIBNAME.${SLSUFFIX} -o $$LIBNAME.${SLSUFFIX} *.o; \
	    ${RM} -f * ; \
	  fi; \
	done ;\
	cd ../ ; \
	${RM} -rf tmp
