/_build*
/images

# Populated from the classic docs build
/docs/manualpages/*/*.md
/docs/manualpages/singleindex.md
/docs/manualpages/help.html
/docs/manualpages/manualpages.cit
/docs/manualpages/htmlmap
/docs/manualpages/concepts
