*                         @petsc/integrators

/src/tao/                 @adener @tmunson
/src/tao/constrained/impls/ipm/ @abhyshr @hongzhangsun @resundermann @adener

/src/ts/                  @caidao22 @jedbrown @emconsta @stefanozampini @BarrySmith
src/ts/event/             @abhyshr @caidao22 @BarrySmith

/src/ts/utils/dmplexlandau/ @markadams4 @knepley

/src/dm/impls/plex/       @knepley @wence @haplav @tisaac
/src/dm/impls/stag/       @psanan @knepley

/src/*/*/network/         @abhyshr @hongzhangsun @knepley
/src/*/*/*/network/       @abhyshr @hongzhangsun @knepley

/src/ksp/pc/impls/bddc/   @stefanozampini @jedbrown
/src/ksp/pc/impls/gamg/   @markadams4 @jedbrown
/src/ksp/pc/impls/hpddm/  @prj- @stefanozampini
/src/ksp/ksp/impls/hpddm/ @prj- @stefanozampini

/src/binding/petsc4py/    @dalcinl @wence @pefarrell @joseroman

/src/sys/classes/viewer/  @petsc/integrators @haplav

/src/vec/is/sf/           @jedbrown @jczhang07
/src/vec/vscat/           @jczhang07 @BarrySmith

/src/docs/                @psanan @sbalay @BarrySmith @knepley @jedbrown

/config/*                 @krugers @knepley @sbalay @BarrySmith
gmakefile*                @krugers @jedbrown @BarrySmith
.gitlab*.yml              @sbalay @jedbrown
/lib/petsc                @krugers @sbalay
