# $Id: base,v 1.20 1998/04/09 00:13:06 balay Exp bsmith $ 

PARCH    = alpha
CC       = cc -DPARCH_alpha
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = unknown
#
FC       = f77 -w
AR       = ar
RM       = rm -f
RANLIB   = ranlib
OMAKE    = make 
SHELL    = /bin/sh
CLINKER  = cc ${COPTFLAGS} -Wl,-rpath,${LDIR}:${DYLIBPATH}
FLINKER  = f77 ${FOPTFLAGS} -Wl,-rpath,${LDIR}:${DYLIBPATH}
SYS_LIB  =

FCONF    = -DHAVE_64BITS 

include ${PETSC_DIR}/bmake/common

libc: ${OBJSC}
	ar crl ${LIBNAME} ${OBJSC}
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#######
.F.o:
	-${RM} $*.f
	-cpp ${CFLAGS}  -E $< | grep -v '^ *#' > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${RM} $*.f

.F.a: 
	-${RM} $*.f
	-cpp ${CFLAGS}  -E $< | grep -v '^ *#' > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${RM} $*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} -f $*.o

shared: chkopts_basic
	-@echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	for LIBNAME in ${SHLIBS} ; \
	do \
	  flag=""; \
	  if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	  else \
	      flag="true"; \
	  fi; \
          if [ "$$flag" != "" ]; then \
	    echo "building $$LIBNAME.${SLSUFFIX}"; \
	    ${LD} -shared  -all  $$LIBNAME.a  -o $$LIBNAME.${SLSUFFIX}  > /dev/null 2>&1; \
	  fi; \
	done
