build
docs/*.html
docs/*.info
docs/*.pdf
docs/*.[137]
docs/apiref
docs/usrman
dist
MANIFEST
__pycache__
*.pyc
*.pyo
.tox

*.egg
.eggs/
petsc4py.egg-info/
petsc4py.PETSc.c
petsc4py.PETSc*.h
src/libpetsc4py/libpetsc4py.[hc]
