build
dist
.eggs
MANIFEST
.tox
**/__pycache__

docs/*.html
docs/*.info
docs/*.pdf
docs/*.[137]
docs/html

src/petsc4py/PETSc.c
src/petsc4py/PETSc.h
src/petsc4py/PETSc_api.h
src/petsc4py/lib/*/PETSc.*.so
src/petsc4py.egg-info/
