include makefile
recursive-include config *.py
recursive-exclude config/examples *
recursive-exclude config/BuildSystem/docs *

recursive-include bin *.py *mpiexec* petscrun popup
recursive-include bin/matlab *
recursive-include share *
recursive-include conf *
recursive-include include *
recursive-include src *
recursive-exclude src/docs *
recursive-exclude src/tops *

recursive-exclude bin/matlab/classes/examples *
recursive-exclude src/*/examples/* *.*
recursive-exclude src/*/*/examples/* *.*
recursive-exclude src/*/*/*/examples/* *.*

exclude conf/petscvariables
recursive-exclude include  *.d *.o
recursive-exclude src *.d *.o
