# $Id: base,v 1.16 1998/04/09 00:12:24 balay Exp balay $ 

PARCH    = IRIX
CC       = cc -DPARCH_IRIX
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = unknown
#
FC       = f77
AR       = ar
RM       = rm -f
#
# the  following is used to convert petsclib into dynamic libraries 
#
RANLIB   = ${PETSC_DIR}/bmake/${PETSC_ARCH}/make_dso_IRIX ${LDIR}
#RANLIB	 = true
OMAKE    = make
SHELL    = /bin/sh
#
# -rpath is required to specify the location of any dynamic libraries
# which are not found in the standard locations (/lib:/usr/lib:) etc
#
CLINKER  = cc ${COPTFLAGS} -rpath ${LDIR}:${DYLIBPATH}
FLINKER  = f77 ${FOPTFLAGS} -rpath ${LDIR}:${DYLIBPATH}

SYS_LIB    = -lfpe -lsun 
#
#  For SGI 64 bit machines use the PETSC_ARCH IRIX64
#
FCONF    = -DHAVE_FORTRAN_UNDERSCORE -DPARCH_IRIX

SHELL   = /bin/sh

include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})

############
.F.o:
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} ${CFLAGS} ${COPTFLAGS} $*.F

.F.a: 
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} ${CFLAGS} ${COPTFLAGS} $*.F
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.o


shared: chkopts_basic
	-@echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	for LIBNAME in ${SHLIBS} ; \
	do \
	  flag=""; \
	  if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	  else \
	      flag="true"; \
	  fi; \
          if [ "$$flag" != "" ]; then \
	    echo "building $$LIBNAME.${SLSUFFIX}"; \
	    ${LD} -shared  -all  $$LIBNAME.a  -o $$LIBNAME.${SLSUFFIX}  > /dev/null 2>&1; \
	  fi; \
	done
