#
#   The name of the C compiler to use
#
CC       = cc -DPARCH_hpux -Aa
#
#   Fortran compiler to use
#
FC       = f77
AR       = ar
RM       = rm -f
RANLIB   = true
#
# The native make on HP-UX is garbage; you must use Gnu make, which is
# probably already installed on your machine (called gnumake). On our 
# machine the Gnu make is installed as make; if yours is called gnumake
# then edit the line below. On newer versions of HP-UX the make may be
# OK, in that case you must remove --no-print-directory from below. It
# is only for Gnu make.
#
#OMAKE    = make --no-print-directory
OMAKE    = /bin/make
SHELL    = /bin/sh
CLINKER  = cc $(COPTFLAGS)
#
#  One must use fort77 rather then f77 because f77 has a different 
#  meaning for the -L option!
#
FLINKER  = fort77 $(FOPTFLAGS) 
SYS_LIB  =  -lV3 -lU77

CONF     = -DHAVE_STDLIB_H -DHAVE_PWD_H -DHAVE_MALLOC_H \
           -DHAVE_STRING_H -DHAVE_X11 -D_POSIX_SOURCE \
           -DHAVE_DRAND48 -D_INCLUDE_XOPEN_SOURCE -D_INCLUDE_HPUX_SOURCE \
           -DHAVE_GETDOMAINNAME -DHAVE_SYS_TIME_H\
           -DUSES_V_V_V_V_TSEARCH  -DHAVE_UNISTD_H

SHELL    = /bin/sh

include $(PETSC_DIR)/bmake/common

libc:
	for i in $(OBJSC); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libf:
	for i in $(OBJSF); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libmember:    $(LIBNAME)($(LIBMEMBER))

##############
.F.o: 
	$(FC) -c $(FFLAGS) $(FOPTFLAGS) $(CFLAGS) $*.F

.F.a: 
	$(FC) -c $(FFLAGS) $(FOPTFLAGS) $(CFLAGS) $*.F
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o

# SHARED LIBRARIES
# To create PETSc libraires as shared libraries do the following:
# 1. modify the file base and add "-z" flag for "cc" as in where CC is defined.
# CC       = cc -DPARCH_hpux -Aa +z
#
#2. Add the following target to "base"
#shared: chkopts
#	-@echo making shared libraries in $(LDIR) ;\
#	cd $(LDIR); \
	$(RM) -rf tmp; \
#	mkdir tmp; \
#	cd tmp; \
#	for LIBNAME in $(SHLIBS) ; \
#	  do \
#	    $(AR) x ../$$LIBNAME.a ;\
#	    $(LD) -b  *.o  -o ../$$LIBNAME.sl ; \
#	    $(RM) -f * ; \
#	done ;\
#	cd ../ ; \
#	$(RM) -rf tmp 
#
#3. To make shared libs do in PETSC_DIR:
#   make BOPT=g all fortran shared
#   If the regular libraries are already built, you have to rebuilt them.
#
#4. To build an example uisng petsc shared library do:
#   cd petsc/src/sles/tutorials
#   make BOPT=g ex5
#
#6. To run this example do:
#   mpirun ex5
#
#Note: If you are using blocksolve, shared libraries do not work.
#      Also, profiling versions and shared libraries do not go together.



