#
#   The name of the C compiler to use
#
CC       = cc -DPARCH_hpux -Aa
#
#   Fortran compiler to use
#
FC       = f77
AR       = ar
RM       = rm -f
RANLIB   = true
#
# The native make on HP-UX is garbage; you must use Gnu make, which is
# probably already installed on your machine (called gnumake). On our 
# machine the Gnu make is installed as make; if yours is called gnumake
# then edit the line below.
#
OMAKE    = make --no-print-directory
SHELL    = /bin/sh
CLINKER  = cc $(BASEOPT)
#
#  One must use fort77 rather then f77 because f77 has a different 
#  meaning for the -L option!
#
FLINKER  = fort77 $(BASEOPTF) 
SYS_LIB  =  -lV3 -lU77

CONF     = -DHAVE_STDLIB_H -DHAVE_PWD_H -DHAVE_MALLOC_H \
           -DHAVE_STRING_H -DHAVE_X11 -D_POSIX_SOURCE \
           -DHAVE_DRAND48 -D_INCLUDE_XOPEN_SOURCE -D_INCLUDE_HPUX_SOURCE

SHELL    = /bin/sh

include $(PETSC_DIR)/bmake/common

libc:
	for i in $(OBJSC); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libf:
	for i in $(OBJSF); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libmember:    $(LIBNAME)($(LIBMEMBER))

.c.a: 
	$(CC) -c $(CFLAGS) $(BASEOPT) $*.c
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o
.c.o: 
	$(CC) -c $(CFLAGS) $(BASEOPT) $*.c
.f.o: 
	$(FC) -c $(FFLAGS) $(BASEOPTF) $*.f

.f.a: 
	$(FC) -c $(FFLAGS) $(BASEOPTF) $*.f
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o

.SUFFIXES: $(SUFFIXES) .F

.F.o: 
	$(FC) -c $(PETSC_INCLUDE) $(FFLAGS) $(BASEOPTF) $*.F

.F.a: 
	$(FC) -c $(PETSC_INCLUDE) $(FFLAGS) $(BASEOPTF) $*.F
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o
