# $Id: base,v 1.51 1999/02/08 23:45:05 balay Exp balay $ 

include ${PETSC_DIR}/bmake/common
include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})

##############
SLSUFFIX = sl

shared: chkopts_basic
	-@echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	${RM} -rf tmp; \
	mkdir tmp; \
	cd tmp; \
	for LIBNAME in ${SHLIBS} ; \
	do \
          if [ -f ${LDIR}/$$LIBNAME.a ]; then \
	    flag=""; \
	    if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	    else \
	      flag="true"; \
	    fi; \
	    if [ "$$flag" != "" ]; then \
	      echo "building $$LIBNAME.${SLSUFFIX}"; \
	      ${AR} x ../$$LIBNAME.a ;\
	      ${LD} -b  *.o  -o ../$$LIBNAME.${SLSUFFIX} ; \
	      ${RM} -f * ; \
	    fi; \
	  fi; \
	done ;\
	cd ../ ; \
	${RM} -rf tmp 

oshared: 
	-@${RM} -rf tmp; \
	mkdir tmp; \
	cd tmp; \
        echo "building ${LIBNAME}.${SLSUFFIX}"; \
	${AR} x ../${LIBNAME}.a ;\
	${LD} -b  *.o  -o ../${LIBNAME}.${SLSUFFIX} ;\
	cd ../ ; \
	${RM} -rf tmp

#
# Notes:
#
#  The name of the C compiler to use, the -Aa option is mandatory
#  and indicates the we are compiling with ANSI C.
#
# For HPUX 9.* use the following instead
# C_SYS_LIB  =  -lV3 -lU77 
#
# On some HP 10.20 Machines use
# C_SYS_LIB  =  -lV3 -lU77 
#
# Alternative FC_LIB which worked for some users
#
# FC_LIB = -L/opt/fortran90/lib/pa2.0 -L/opt/fortran90/lib \
# -L/opt/langtools/lib -lF90 -lcl -lc -lisamstub
#
# Use this if using f77 instead of f90 compiler
#FC_LIB		=  -lf -L/opt/fortran/lib  -lU77
#