#
#
#  If you are not using the Gnu C compiler then replace the compiler name 
# gcc with your own and remove the -D__USE_FIXED_PROTOTYPES__.
#
PARCH    = nt_gnu
CC       = gcc -D__USE_FIXED_PROTOTYPES__ -DPARCH_nt_gnu
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(COPTFLAGS)
FLINKER  = f77 $(FOPTFLAGS)

FCONF    = -DHAVE_FORTRAN_UNDERSCORE 
CONF     = -DHAVE_SEARCH_H -DHAVE_PWD_H -DHAVE_STRING_H \
           -DHAVE_GETDOMAINNAME  -DHAVE_UNISTD_H \
           -DHAVE_SYS_TIME_H -DHAVE_SWAPPED_BYTES \
	   -DHAVE_UNAME $(FCONF)

SYS_LIB  = -ladvapi32

include $(PETSC_DIR)/bmake/common

libc: $(OBJSC)
	ar crl $(LIBNAME) $(OBJSC)
libf: $(OBJSF)
	ar crl $(LIBNAME) $(OBJSF)

#############

.F.o: 
	$(FC)  -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
.F.a: 
	$(FC)  -c $(FFLAGS) $(CFLAGS) $(FOPTFLAGS) $*.F
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
