# $Id: base,v 1.29 1998/12/04 23:44:45 balay Exp balay $ 
#
include ${PETSC_DIR}/bmake/common
include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables

libc: ${OBJSC}
	ar crl ${LIBNAME} ${OBJSC}
libf: ${OBJSF}
	ar crl ${LIBNAME} ${OBJSF}

#############
shared:
