# $Id: base,v 1.18 1998/04/26 01:00:56 balay Exp balay $ 

#
#   The PARCH flag below is the same for the Cray T3D and T3E, so DO NOT change
#  the t3d below to t3e.
#
PARCH    = t3d
CC       = cc
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = ${CC} -V
#
FC       = f90 -dp -F
AR       = ar
RM       = rm -f
RANLIB   = true
OMAKE    = make
SHELL    = /bin/sh
CLINKER  = ${CC} ${COPTFLAGS}
FLINKER  = ${FC} ${FOPTFLAGS} -M7207
SYS_LIB  =
SHELL   = /bin/sh

include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
	@-true

#########

.F.o:
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} ${CPPFLAGS} $*.F

.F.a: 
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} ${CPPFLAGS} $*.F
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.o

shared:
