# $Id: base,v 1.30 1999/05/12 03:24:58 bsmith Exp curfman $ 

include ${PETSC_DIR}/bmake/${PETSC_ARCH}/base_variables
include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
	@-true

#########
shared:

oshared:

#  For Cray C90 etc add the additional flag
#define PETSC_HAVE_CRAY90_POINTER 1 
#  to petscconf.h in this directory and change
#define PETSC_SIZEOF_SHORT 4
#  to
#define PETSC_SIZEOF_SHORT 8

