#
#  Crontab for PETSc 2.0 nightly build
#
# This file is run every night at 11pm.
# Run "crontab crontab" to install the nightly build;
# use "crontab -r" to remove it.
#
#  The timing between these runs IS important.
#
40 23 * * * /home/bsmith/petsc/maint/buildtest /home/bsmith/petsc
55 23 * * * /home/curfman/petsc/maint/buildtest /home/curfman/petsc
55 23 * * * /home/petsc/petsc/maint/buildtest /home/petsc/petsc
55 23 * * * /home/balay/petsc/maint/buildtest_uni /home/balay/petsc
55 23 * * * rsh clyde -n /sphome/curfman/petsc/maint/buildtest /sphome/curfman/petsc
#
# Makes the two shadow directories.  Must be done before the library builds.
#
15 23 * * * /home/bsmith/petsc/maint/buildlinks /home/balay/petsc > /dev/null
15 23 * * * /home/bsmith/petsc/maint/buildlinks /home/curfman/petsc > /dev/null
15 23 * * * /home/bsmith/petsc/maint/buildlinks /home/petsc/petsc > /dev/null
15 23 * * * rsh clyde -n /home/bsmith/petsc/maint/buildlinks /sphome/curfman/petsc > /dev/null
