#
#  Crontab for PETSc 2.0 nightly build
#
# This file is run every night at 11pm.
# Run "crontab crontab" to install the nightly build;
# use "crontab -r" to remove it.
#
15 23 * * * /home/bsmith/petsc/maint/buildtest /home/bsmith/petsc
30 23 * * * /home/curfman/petsc/maint/buildtest /home/curfman/petsc
00 23 * * * rsh bonnie /sphome/curfman/petsc/maint/buildtest /sphome/curfman/petsc
