# $Id: base,v 1.19 1998/06/15 15:22:45 balay Exp bsmith $ 

#
#   If you do not have the XlC compiler then use the xlc compiler below
# we default to xlC since it generates faster code.
#
PARCH    = rs6000
CC       = cc_r
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = unknown
#
FC       = xlf 
AR       = ar
RM       = rm -f
RANLIB   = ranlib
OMAKE    = make
SHELL    = /bin/sh
# 
# Some systems may require instead
# CLINKER = xlc ${COPTFLAGS} -bI:/usr/lpp/xlf/lib/lowsys.exp 
# CLINKER = xlc ${COPTFLAGS}
# The next line is a hack for IBM SPx machines; you should remove it 
# if you are running on plain IBM RS6000 workstations and replace it
# with one of the above.
#
#
#   The IBM linker only allows memory usage up to 256 meg by default,
# the flag -bmaxdata:0x70000000 is used to allow larger memory usage.
#
CLINKER  = mpcc_r ${COPTFLAGS} -bmaxdata:0x70000000
#
# Fortran programs MUST be linked statically (no shared libraries) for them
# to run on systems that haven't licensed a Fortran runtime or compiler.
# This used to be the default, but I've removed it since most system have
# licensed runtimes
#
# FLINKER = xlf ${FOPTFLAGS}
# The next line is a hack for IBM SPx machines; you should remove it 
# if you are running on plain IBM RS6000 workstations and replace it
# with the above.
#
FLINKER = mpxlf ${FOPTFLAGS} -bmaxdata:0x70000000

SHELL   = /bin/sh
SYS_LIB = -lisode

# AIX apparently does not remotely resemble EITHER System V or BSD 4.x.
# By defining _POSIX_SOURCE , there is some hope that it will pretend that
# it is some form of Unix.

include ${PETSC_DIR}/bmake/common

libc:
	for i in ${OBJSC}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libf:
	for i in ${OBJSF}; do ${OMAKE} BOPT=${BOPT} libmember LIBMEMBER=$$i ; done

libmember:    ${LIBNAME}(${LIBMEMBER})
#########

# This F.f rule ensures that the old *.f files are removed.
#
# If you are using the Gnu gcc or g++ compilers you must replace the 
# ${CC} below with xlc
#
.F.f:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > $*.f
	-${RM} __$*.c

.F.o:
	-${RM} $*.f __$*.c
	-cp $*.F __$*.c
	-${CC} ${FCPPFLAGS} -E  __$*.c | grep -v '^ *#' > $*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} $*.f
	-${RM} $*.f __$*.c

.F.a:
	-${RM} $*.f
	-${CC} ${FCPPFLAGS} -E $< | grep -v '^ *#' > $*.f
	-${FC} -c ${FOPTFLAGS} ${FFLAGS} $*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.o	$*.f

shared:
