CC       = cc -DPARCH_IRIX
FC       = f77
AR       = ar
RM       = rm -f
#
# the  following is used to convert petsclib into dynamic libraries 
#
#RANLIB   = $(PETSC_DIR)/bmake/$(PETSC_ARCH)/make_dso_IRIX $(LDIR)
RANLIB	 = true
OMAKE    = make
SHELL    = /bin/sh
#
# -rpath is required to specify the location of any dynamic libraries
# which are not found in the standard locations (/lib:/usr/lib:) etc
#
CLINKER  = cc $(COPTFLAGS) -rpath $(LDIR):$(DYLIBPATH)
FLINKER  = f77 $(FOPTFLAGS) -rpath $(LDIR):$(DYLIBPATH)

SYS_LIB    = -lfpe -lsun 
#
#  For SGI 64 bit machines use the PETSC_ARCH IRIX64
#
CONF    = -DHAVE_PWD_H -DHAVE_STRING_H -DHAVE_STROPTS_H \
          -DHAVE_MALLOC_H -DHAVE_X11 -DHAVE_FORTRAN_UNDERSCORE \
          -DHAVE_DRAND48  -DHAVE_GETDOMAINNAME \
          -DHAVE_UNAME -DHAVE_UNISTD_H -DHAVE_SYS_TIME_H

SHELL   = /bin/sh

include $(PETSC_DIR)/bmake/common

libc:
	for i in $(OBJSC); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libf:
	for i in $(OBJSF); do $(OMAKE) libmember LIBMEMBER=$$i ; done

libmember:    $(LIBNAME)($(LIBMEMBER))

############
.F.o:
	$(FC) -c $(FFLAGS) $(FOPTFLAGS) $(CFLAGS) $(COPTFLAGS) $*.F

.F.a: 
	$(FC) -c $(FFLAGS) $(FOPTFLAGS) $(CFLAGS) $(COPTFLAGS) $*.F
	$(AR) cr $(LIBNAME) $*.o
	$(RM) $*.o

shared: chkopts_basic
	-@echo making shared libraries in $(LDIR) ;\
	cd $(LDIR); \
	for LIBNAME in $(SHLIBS) ; \
	  do $(LD) -elf -no_library_replacement -shared -rdata_shared \
	  -all  $$LIBNAME.a  -o $$LIBNAME.$(SLSUFFIX) ; \
	done
