#
#
#  If you are not using the Gnu C compiler then replace the compiler name 
# gcc with your own and remove the -D_Gnu_.
#
CC       = gcc -D_Gnu_ -DPARCH_sun4
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(BASEOPT)
FLINKER  = f77 $(BASEOPTF)
CONF     = -DHAVE_STROPTS_H -DHAVE_SEARCH_H -DHAVE_PWD_H -DHAVE_STRING_H \
           -DHAVE_MALLOC_H -DHAVE_X11 -DHAVE_FORTRAN_UNDERSCORE \
           -DHAVE_DRAND48

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(LIBNAME)($(OBJSF))

#
#############
.PRECIOUS: $(LIBNAME)
.c.a:
	$(CC)  -c $(CFLAGS) $(BASEOPT) $*.c
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
.c.o:
	$(CC)  -c $(CFLAGS) $(BASEOPT) $*.c
.C.a:
	$(CC)  -c $(CFLAGS) $(BASEOPT) $*.C
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
.C.o:
	$(CC)  -c $(CFLAGS) $(BASEOPT) $*.C
.f.o: 
	$(FC)  -c $(FFLAGS) $(BASEOPTF)  $*.f
.f.a: 
	$(FC)  -c $(FFLAGS) $(BASEOPTF) $*.f
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o

.F.o: 
	$(FC)  -c $(FFLAGS)  $(BASEOPT) $(CFLAGS) $(BASEOPTF) $*.F
.F.a: 
	$(FC)  -c $(FFLAGS)  $(BASEOPT) $(CFLAGS) $(BASEOPTF) $*.F
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
