#
#
#  If you are not using the Gnu C compiler then replace the compiler name 
# gcc with your own and remove the -D__USE_FIXED_PROTOTYPES__.
#
CC       = /usr/local/gcc-2.7.2/bin/gcc -DPARCH_sun4 -D__USE_FIXED_PROTOTYPES__
FC       = f77
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc $(COPTFLAGS)
FLINKER  = f77 $(FOPTFLAGS)
CONF     = -DHAVE_STROPTS_H -DHAVE_SEARCH_H -DHAVE_PWD_H -DHAVE_STRING_H \
           -DHAVE_MALLOC_H -DHAVE_X11 -DHAVE_FORTRAN_UNDERSCORE \
           -DHAVE_DRAND48 -DHAVE_GETDOMAINNAME

include $(PETSC_DIR)/bmake/common

libc: $(LIBNAME)($(OBJSC))
libf: $(LIBNAME)($(OBJSF))

#
#############
.PRECIOUS: $(LIBNAME)
.c.a:
	$(CC)  -c $(CFLAGS) $(COPTFLAGS) $<
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
.c.o:
	$(CC)  -c $(CFLAGS) $(COPTFLAGS) $<
.cpp.a .cc.a .C.a:
	$(CC)  -c $(CFLAGS) $(COPTFLAGS) $<
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
.cpp.o .cc.o .C.o:
	$(CC)  -c $(CFLAGS) $(COPTFLAGS) $<
.f.o: 
	$(FC)  -c $(FFLAGS) $(FOPTFLAGS)  $<
.f.a: 
	$(FC)  -c $(FFLAGS) $(FOPTFLAGS) $<
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o

.F.o: 
	$(FC)  -c $(FFLAGS)  $(FOPTFLAGS) $(CFLAGS) $*.F
.F.a: 
	$(FC)  -c $(FFLAGS)  $(FOPTFLAGS) $(CFLAGS) $*.F
	$(AR) clr $(LIBNAME) $*.o
	$(RM) $*.o
