

LDIR     = $(PETSCLIB)/libs/libs$(BOPT)/$(ARCH)/$(COMPLEX)
LIBNAME  = $(LDIR)/$(LIBBASE).a
SOURCE   = $(SOURCEC) $(SOURCEF)
OBJS     = $(OBJSC) $(OBJSF)
INCLUDEDIRS = -I$(ITOOLSDIR) -I$(ITOOLSDIR)/include $(COPT)

include $(ITOOLSDIR)/bmake/$(PARCH)/$(PARCH).site
include $(ITOOLSDIR)/bmake/$(PARCH)/$(PARCH).$(BOPT)
include $(ITOOLSDIR)/bmake/$(PARCH)/$(PARCH).$(COMPLEX)

$(LIBNAME)($(OBJS)): $(LINCLUDE)

examples: 
	@-if [ "$(EXAMPLES)" != "" ] ; then \
          (for ex in $(EXAMPLES) foo ; do \
          $(MAKE) -f makefile PARCH=$(PARCH) BOPT=$(BOPT) $$ex; done;) fi

runexamples: 
	@-if [ "$(EXAMPLES)" != "" ] ; then \
          (for ex in $(EXAMPLES) echo ; do \
          $$ex; done;) fi

tests:
	@-if [ "$(TESTS)" != "" ] ; then \
	(for ex in $(TESTS) foo ; do \
	$(MAKE) -f makefile PARCH=$(PARCH) BOPT=$(BOPT) $$ex; done;) fi

runtests: 
	@-if [ "$(TESTS)" != "" ] ; then \
          (for ex in $(TESTS) echo ; do \
          $$ex; done;) fi

foo:

lib: $(SOURCE)
	@-if [ "$(SOURCEC)" != "" ] ; then \
           $(MAKE) -f makefile PARCH=$(PARCH) BOPT=$(BOPT) \
                               COMPLEX=$(COMPLEX) libc; fi
	@-if [ "$(SOURCEF)" != "" ] ; then \
           $(MAKE) -f makefile PARCH=$(PARCH) BOPT=$(BOPT) libf; fi
	@-if [ "$(OBJS)" != " " ] ; then \
        	$(RANLIB)  $(LIBNAME); \
        fi

libfast: $(SOURCEC) $(SOURCEF)
	@-if [ "$(SOURCEC)" != "" ] ; then \
	     $(CC) -c $(CFLAGS) $(BASEOPT) $(SOURCEC) ;\
	fi
	@-if [ "$(SOURCEF)" != "" ] ; then \
	     $(FC) -c $(FFLAGS) $(BASEOPTF) $(SOURCEF) ;\
	fi
	@-if [ "$(OBJS)" != " " ] ; then \
          $(AR) clq $(LIBNAME) $(OBJS); \
	  $(RM) $(OBJS); \
        fi

rcs: 
	@-rcs -i -agropp,bsmith,curfman -L -t/dev/null $(SOURCEH)\
           $(SOURCE) makefile $(EXAMPLESC) $(EXAMPLESF) $(TESTSC)\
           $(TESTSF)

ci: 
	@-ci -u -q -mAutoCheckin $(SOURCEH) $(SOURCE) makefile \
          $(EXAMPLESC) $(EXAMPLESF) $(TESTSC) $(TESTSF) readme*

co:
	@-co -l -q $(SOURCEH) $(SOURCE) makefile $(EXAMPLESC)\
          $(EXAMPLESF) $(TESTSC) $(TESTSF)

lint:
	lint -cvhu -DLINT $(CFLAGS) $(SOURCE)

C2f77:
	@-if [ -n "$(WOBJS)" ] ; then \
  	$(ITOOLSDIR)/c2f77/bfort -nomsgs -anyname -mapptr \
                         $(SOURCEC) $(SOURCEH); fi

C2f77lib: 
	@-if [ -n "$(WOBJS)" ] ; then \
	echo "Compiling wrappers: " $(WSOURCEC); \
	$(CC) -c $(CDEFS) $(CFLAGS) $(BASEOPT) -I$(ITOOLSDIR) $(WSOURCEC); \
	$(AR) clr $(LDIR)/libpetscfort.a $(WOBJS) ; \
	$(RM) $(WOBJS) $(WSOURCE); \
	fi

manpages:
	@-if [ "$(MANSEC)" != "" ] ; then \
	$(ITOOLSDIR)/doc/doctext -jumpfile $(ITOOLSDIR)/routine.list \
                -mpath $(ITOOLSDIR)/man/man$(MANSEC) -ext $(MANSEC)  \
                 $(SOURCEC) $(SOURCEH); fi 

wwwpages:
	@-if [ "$(MANSEC)" != "" ] ; then \
	$(ITOOLSDIR)/doc/doctext -html \
                -mpath $(ITOOLSDIR)/www/man$(MANSEC) -ext $(MANSEC)  \
                 $(SOURCEC) $(SOURCEH); fi 

clean:
	-/bin/rm -f *.o *~ $(CLEANFILES) $(WSOURCEC) $(EXAMPLES) $(TESTS)

#############
cleantree: clean 
	@-if [ "$(DIRS)" != "" ] ; then \
	for dir in $(DIRS) foo ; do if [ -s $$dir ] ; then \
	( cd $$dir ; echo Cleaning: `pwd` ;\
            $(MAKE) -f makefile cleantree ) ; \
        fi ; done ; fi

manpagestree: manpages
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo; do if [ -s $$dir ]; then \
        (cd $$dir ; echo "Making manpages in: `pwd`" $$dir ; \
        $(MAKE) -f makefile BOPT=$(BOPT)\
        PARCH=$(PARCH) manpagestree) ;fi; \
        done ; fi

wwwpagestree: wwwpages
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo; do if [ -s $$dir ]; then \
        (cd $$dir ; echo "Making wwwpages in: `pwd`" $$dir ; \
        $(MAKE) -f makefile BOPT=$(BOPT)\
        PARCH=$(PARCH) wwwpagestree) ;fi; \
        done ; fi

C2f77tree: C2f77
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Making wrappers in: `pwd` ; \
        $(MAKE) -f makefile BOPT=$(BOPT)\
        PARCH=$(PARCH) C2f77tree) ;fi; \
        done ; fi

C2f77libtree: C2f77lib
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Compiling wrappers in: `pwd` ;\
        $(MAKE) -f makefile BOPT=$(BOPT) COMPLEX=$(COMPLEX)\
        PARCH=$(PARCH) C2f77libtree) ;fi; \
        done ; fi

libtree: lib
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Compiling in: `pwd`  ; \
          $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) libtree) ;fi; \
        done ; fi

libfasttree: libfast
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Compiling in `pwd` ; \
          $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) libfasttree) ;fi; \
        done ; fi

examplestree: examples
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Compiling examples in `pwd` ; \
        $(MAKE) -f makefile BOPT=$(BOPT) COMPLEX=$(COMPLEX) \
        PARCH=$(PARCH) examplestree) ;fi; \
        done ; fi

teststree: tests
	@-if [ "$(DIRS)" != "" ]; then \
	for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
	(cd $$dir ; echo Compiling tests in: `pwd` ; \
        $(MAKE) -f makefile BOPT=$(BOPT) COMPLEX=$(COMPLEX) \
	PARCH=$(PARCH) teststree) ;fi; \
	done ; fi

runexamplestree: runexamples
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo Examples in: `pwd` ; \
          $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) runexamplestree) ;fi; \
        done ; fi

runteststree: runtests
	@-if [ "$(DIRS)" != "" ]; then \
	for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
	(cd $$dir ; echo Tests in: `pwd` ; $(MAKE) -f makefile BOPT=$(BOPT) \
	PARCH=$(PARCH) COMPLEX=$(COMPLEX) runteststree) ;fi; \
	done ; fi

citree: ci
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo ci in: `pwd`; $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) citree) ;fi; \
        done ; fi

rcstree: rcs
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo rcs in: `pwd`; $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) rcstree) ;fi; \
        done ; fi

cotree: co
	@-if [ "$(DIRS)" != "" ]; then \
        for dir in $(DIRS) foo ; do if [ -s $$dir ]; then \
        (cd $$dir ; echo co in: `pwd`  ; $(MAKE) -f makefile BOPT=$(BOPT) \
        PARCH=$(PARCH) COMPLEX=$(COMPLEX) cotree) ;fi; \
        done ; fi

