# $Id: base,v 1.11 1998/04/07 19:41:58 balay Exp bsmith $ 


#
#
#  If you are not using the Gnu C compiler then replace the compiler name 
# gcc with your own and remove the -D__USE_FIXED_PROTOTYPES__ and the -fPIC.
#
#  Setup to use the NAG Fortran 90 compiler.
#
PARCH    = sun4
CC       = gcc -DPARCH_sun4 -D__USE_FIXED_PROTOTYPES__ -fPIC
#
#  Indicates the version of the compiler you are using; if you do not know
#  how to get the version number then use: unknown
#
CCV      = ${CC} --version
#
FC       = f90 -f77 -mismatch -free
AR       = ar
RM       = rm -f
OMAKE    = make
RANLIB   = ranlib
SHELL    = /bin/sh
CLINKER  = gcc ${COPTFLAGS}
FLINKER  = f90 -f77 ${FOPTFLAGS}

FCONF    = -DHAVE_NAGF90

include ${PETSC_DIR}/bmake/common

libc: ${LIBNAME}(${OBJSC})
libf: ${LIBNAME}(${OBJSF})

#############

#
#   These are alternative rules for Fortran compilers that 
#  do not understand the .F suffix
#
#   Note: it is not possible to use the NAG F90 compiler with 
#  PETSc and a Fortran main problem. This is because the NAG
#  compiler actually generates a C main program while MPICH and
#  PETSc naturally expect the command line arguments to be 
#  handled in the Fortran manner, so MPICH crashes on initializing
#  the command line arguments.
#
.F.o:
	-${RM} $*.f
	-cpp ${CFLAGS} $< | grep -v '^ *#' |grep -v '^C' > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${RM} $*.f

.F.a:
	-${RM} $*.f
	-cpp ${CFLAGS}  $< | grep -v '^ *#' |grep -v '^C' > $*.f
	-${FC} -c ${FFLAGS} ${FOPTFLAGS} $*.f
	-${AR} cr ${LIBNAME} $*.o
	-${RM} $*.o	$*.f

SLSUFFIX = so.1.0 
shared: chkopts_basic
	-@ echo making shared libraries in ${LDIR} ;\
	cd ${LDIR}; \
	${RM} -rf tmp; \
	mkdir tmp; \
	cd tmp; \
	for LIBNAME in ${SHLIBS} ; \
	do \
	  flag=""; \
	  if [ -f ${LDIR}/$$LIBNAME.${SLSUFFIX} ]; then \
              flag=`find ${LDIR} -type f -name $$LIBNAME.a -newer ${LDIR}/$$LIBNAME.${SLSUFFIX} -print`; \
	  else \
	      flag="true"; \
	  fi; \
          if [ "$$flag" != "" ]; then \
	    echo "building $$LIBNAME.${SLSUFFIX}"; \
	    ${AR} x ../$$LIBNAME.a ;\
	    gcc ${COPTFLAGS} -fPIC -shared  *.o  -o ../$$LIBNAME.${SLSUFFIX} ; \
	    ${RM} -f * ; \
	  fi; \
	done; \
	cd ../ ; \
	${RM} -rf tmp
