
libc: ${LIBNAME}(${OBJSC} ${SOBJSC})
libadic: ${LIBNAME}(${OBJSADIC})
libf: ${LIBNAME}(${OBJSF})

#############
include ${PETSC_DIR}/bmake/common/rules.fortran.cpp
include ${PETSC_DIR}/bmake/common/rules.shared.basic

shared_arch:
oshared: